<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>The Current Date Where You Are</title>
</head>

<body class="mx-auto flex items-center bg-slate-100 text-stone-900">
    <section class="h-screen font-semibold rounded-md text-7xl flex items-center justify-center w-screen">{{ date_time|escape }}</section>
</body>

</html>